# for parsing
# currently not fixed parsing of Const
construct==2.8.12

# for unpacking
# zstandard==0.8.1 --install-option="--legacy"
git+https://github.com/indygreg/python-zstandard.git@0.8.1 --install-option="--legacy"
pylzma==0.4.9

# for building wt-tools
cx_Freeze==6.0b1